body {
  background-color: rgb(203, 220, 236);
}

.library-section {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2em;
  justify-items: center;
  margin: 2em 0px;
}

.card {
  box-shadow: 5px 5px 10px 3px lightslategrey;
}

.card-img-top {
  height: 370px;
}

.card-body {
  display: grid;
  align-content: space-around;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
}

.learnBtn, .addCartBtn {
  width: 45%;
}

@media (min-width: 768px) {
  .library-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .library-section {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1400px) {
  .library-section {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1920px) {
  .library-section {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 2560px) {
  .library-section {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 3840px) {
  .library-section {
    grid-template-columns: repeat(8, 1fr);
  }
}